@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    padding: 0; /*espaço do diâmetro do nosso itens*/
    margin: 0; /*margen do elementos*/
    box-sizing: border-box; /*usada para calcular larguras (widths) e alturas (heights) dos elementos*/
    font-family: 'Roboto', sans-serif; /*fonte*/
}

body {
    width: 100%;/*Largura*/
    height: 100vh; /*altura*/
    display: flex; /*flex container, a partir daí podemos manipular todos os elementos filhos desse flex container com propriedades novas.*/
    justify-content: center; /*justify-content define como o navegador distribui o espaço entre e ao redor dos itens de conteúdo ao longo do eixo principal*/
    align-items: center; /*define o comportamento padrão de como os itens são dispostos ao longo do eixo transversal*/
    background: #050633;
}

.container {
    width: 80%; /*Largura*/
    height: 80vh; /*altura*/
    display: flex; /*flex container, a partir daí podemos manipular todos os elementos filhos desse flex container com propriedades novas.*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212); /*sombra*/
}

.form-image {
    width: 50%; /*Largura*/
    display: flex;
    justify-content: center;
    background-color: orange;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem; /*margin-bottom define a margin area na parte inferior de um elemento.*/
    display: flex;
    justify-content: space-between
}

.login-button {
display: flex;
align-items: center;
}

.login-button button {
    border: none; /* bordas aplicadas no estilo em cascatas*/
    background-color: #050633;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer; /*O cursor é um ponteiro que indica um link*/
}

.login-button button:hover {
    background-color:black ;
}

.login-button button a {
    text-decoration: none; /*text-decoration especifica a decoração adicionada ao texto e é uma propriedade*/
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '' ; /*substitui um elemento por um valor gerado*/
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #050633;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap; /*flex-wrap define se os itens flexíveis são forçados a ficarem na mesma linha ou se podem ser quebradas em varias linhas*/
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius:10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid orange; /*é uma propriedade abreviada para configurar uma ou mais das propriedades de contorno*/
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label{
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #050633;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
background-color: black;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) { /* pode aplicar um conjunto de estilos se o dispositivo de visualização*/
    
    .form-image {
    display: none;
}

.container {
    width: 50%;
}

.form {
    width: 100%;
}
}

@media screen and (max-width: 1064px) {
        .container {
            width: 90%;
            height: auto;
        }

        .input-group {
            flex-direction: column;
            overflow-y: scroll;
            flex-wrap: nowrap;
            max-height: 10rem;
            padding-right: 2rem;
        }

        .gender-group {
            flex-direction: column;
        }

        .gender-input {
            margin-top: 0.5rem;
        }








}

